body {
  background: url('https://image.freepik.com/foto-gratis/plato-cubiertos-bien-decorados-servilleta-atada-lazo-dorado_1220-609.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

